In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s4e2/sample_submission.csv
/kaggle/input/playground-series-s4e2/train.csv
/kaggle/input/playground-series-s4e2/test.csv

# CHAMADA DE DADOS

Agora vamos a chamar os dados para trabalhar com eles

In [2]:
import pandas as pd
df_train = pd.read_csv('/kaggle/input/playground-series-s4e2/train.csv')
df_train.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

Vamos a visualizar que informação tem os dados

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB

Vamos a eliminar a columna Id.

In [4]:
df_train = df_train.drop('id', axis = 1)
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          20758 non-null  object
 1   Age                             20758 non-null  float64
 2   Height                          20758 non-null  float64
 3   Weight                          20758 non-null  float64
 4   family_history_with_overweight  20758 non-null  object
 5   FAVC                            20758 non-null  object
 6   FCVC                            20758 non-null  float64
 7   NCP                             20758 non-null  float64
 8   CAEC                            20758 non-null  object
 9   SMOKE                           20758 non-null  object
 10  CH2O                            20758 non-null  float64
 11  SCC                             20758 non-null  object
 12  FAF                             20758 non-null  float64
 13  TUE                             20758 non-null  float64
 14  CALC                            20758 non-null  object
 15  MTRANS                          20758 non-null  object
 16  NObeyesdad                      20758 non-null  object
dtypes: float64(8), object(9)
memory usage: 2.7+ MB

Chamamos os dados de teste

In [5]:
df_test = pd.read_csv('/kaggle/input/playground-series-s4e2/test.csv')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Gender                          13840 non-null  object
 2   Age                             13840 non-null  float64
 3   Height                          13840 non-null  float64
 4   Weight                          13840 non-null  float64
 5   family_history_with_overweight  13840 non-null  object
 6   FAVC                            13840 non-null  object
 7   FCVC                            13840 non-null  float64
 8   NCP                             13840 non-null  float64
 9   CAEC                            13840 non-null  object
 10  SMOKE                           13840 non-null  object
 11  CH2O                            13840 non-null  float64
 12  SCC                             13840 non-null  object
 13  FAF                             13840 non-null  float64
 14  TUE                             13840 non-null  float64
 15  CALC                            13840 non-null  object
 16  MTRANS                          13840 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 1.8+ MB

In [6]:
df_test.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,20758,Male,26.899886,1.848294,120.644178,yes,yes,2.938616,3.000000,Sometimes,no,2.825629,no,0.855400,0.000000,Sometimes,Public_Transportation
1,20759,Female,21.000000,1.600000,66.000000,yes,yes,2.000000,1.000000,Sometimes,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
2,20760,Female,26.000000,1.643355,111.600553,yes,yes,3.000000,3.000000,Sometimes,no,2.621877,no,0.000000,0.250502,Sometimes,Public_Transportation
3,20761,Male,20.979254,1.553127,103.669116,yes,yes,2.000000,2.977909,Sometimes,no,2.786417,no,0.094851,0.000000,Sometimes,Public_Transportation
4,20762,Female,26.000000,1.627396,104.835346,yes,yes,3.000000,3.000000,Sometimes,no,2.653531,no,0.000000,0.741069,Sometimes,Public_Transportation

In [7]:
df_test = df_test.drop('id', axis = 1)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          13840 non-null  object
 1   Age                             13840 non-null  float64
 2   Height                          13840 non-null  float64
 3   Weight                          13840 non-null  float64
 4   family_history_with_overweight  13840 non-null  object
 5   FAVC                            13840 non-null  object
 6   FCVC                            13840 non-null  float64
 7   NCP                             13840 non-null  float64
 8   CAEC                            13840 non-null  object
 9   SMOKE                           13840 non-null  object
 10  CH2O                            13840 non-null  float64
 11  SCC                             13840 non-null  object
 12  FAF                             13840 non-null  float64
 13  TUE                             13840 non-null  float64
 14  CALC                            13840 non-null  object
 15  MTRANS                          13840 non-null  object
dtypes: float64(8), object(8)
memory usage: 1.7+ MB

In [8]:
df_train_x = df_train.drop('NObeyesdad',axis=1)
df_train_y = df_train['NObeyesdad']
df_train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          20758 non-null  object
 1   Age                             20758 non-null  float64
 2   Height                          20758 non-null  float64
 3   Weight                          20758 non-null  float64
 4   family_history_with_overweight  20758 non-null  object
 5   FAVC                            20758 non-null  object
 6   FCVC                            20758 non-null  float64
 7   NCP                             20758 non-null  float64
 8   CAEC                            20758 non-null  object
 9   SMOKE                           20758 non-null  object
 10  CH2O                            20758 non-null  float64
 11  SCC                             20758 non-null  object
 12  FAF                             20758 non-null  float64
 13  TUE                             20758 non-null  float64
 14  CALC                            20758 non-null  object
 15  MTRANS                          20758 non-null  object
dtypes: float64(8), object(8)
memory usage: 2.5+ MB

In [9]:
df_all = pd.concat([df_train_x, df_test], ignore_index=True)
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34598 entries, 0 to 34597
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          34598 non-null  object
 1   Age                             34598 non-null  float64
 2   Height                          34598 non-null  float64
 3   Weight                          34598 non-null  float64
 4   family_history_with_overweight  34598 non-null  object
 5   FAVC                            34598 non-null  object
 6   FCVC                            34598 non-null  float64
 7   NCP                             34598 non-null  float64
 8   CAEC                            34598 non-null  object
 9   SMOKE                           34598 non-null  object
 10  CH2O                            34598 non-null  float64
 11  SCC                             34598 non-null  object
 12  FAF                             34598 non-null  float64
 13  TUE                             34598 non-null  float64
 14  CALC                            34598 non-null  object
 15  MTRANS                          34598 non-null  object
dtypes: float64(8), object(8)
memory usage: 4.2+ MB

In [10]:
df_all_transform = pd.get_dummies(df_all,columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS'])
df_all_transform.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34598 entries, 0 to 34597
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 34598 non-null  float64
 1   Height                              34598 non-null  float64
 2   Weight                              34598 non-null  float64
 3   FCVC                                34598 non-null  float64
 4   NCP                                 34598 non-null  float64
 5   CH2O                                34598 non-null  float64
 6   FAF                                 34598 non-null  float64
 7   TUE                                 34598 non-null  float64
 8   Gender_Female                       34598 non-null  bool
 9   Gender_Male                         34598 non-null  bool
 10  family_history_with_overweight_no   34598 non-null  bool
 11  family_history_with_overweight_yes  34598 non-null  bool
 12  FAVC_no                             34598 non-null  bool
 13  FAVC_yes                            34598 non-null  bool
 14  CAEC_Always                         34598 non-null  bool
 15  CAEC_Frequently                     34598 non-null  bool
 16  CAEC_Sometimes                      34598 non-null  bool
 17  CAEC_no                             34598 non-null  bool
 18  SMOKE_no                            34598 non-null  bool
 19  SMOKE_yes                           34598 non-null  bool
 20  SCC_no                              34598 non-null  bool
 21  SCC_yes                             34598 non-null  bool
 22  CALC_Always                         34598 non-null  bool
 23  CALC_Frequently                     34598 non-null  bool
 24  CALC_Sometimes                      34598 non-null  bool
 25  CALC_no                             34598 non-null  bool
 26  MTRANS_Automobile                   34598 non-null  bool
 27  MTRANS_Bike                         34598 non-null  bool
 28  MTRANS_Motorbike                    34598 non-null  bool
 29  MTRANS_Public_Transportation        34598 non-null  bool
 30  MTRANS_Walking                      34598 non-null  bool
dtypes: bool(23), float64(8)
memory usage: 2.9 MB

In [11]:
df_train_x = df_all_transform.head(20758)
df_train_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 20758 non-null  float64
 1   Height                              20758 non-null  float64
 2   Weight                              20758 non-null  float64
 3   FCVC                                20758 non-null  float64
 4   NCP                                 20758 non-null  float64
 5   CH2O                                20758 non-null  float64
 6   FAF                                 20758 non-null  float64
 7   TUE                                 20758 non-null  float64
 8   Gender_Female                       20758 non-null  bool
 9   Gender_Male                         20758 non-null  bool
 10  family_history_with_overweight_no   20758 non-null  bool
 11  family_history_with_overweight_yes  20758 non-null  bool
 12  FAVC_no                             20758 non-null  bool
 13  FAVC_yes                            20758 non-null  bool
 14  CAEC_Always                         20758 non-null  bool
 15  CAEC_Frequently                     20758 non-null  bool
 16  CAEC_Sometimes                      20758 non-null  bool
 17  CAEC_no                             20758 non-null  bool
 18  SMOKE_no                            20758 non-null  bool
 19  SMOKE_yes                           20758 non-null  bool
 20  SCC_no                              20758 non-null  bool
 21  SCC_yes                             20758 non-null  bool
 22  CALC_Always                         20758 non-null  bool
 23  CALC_Frequently                     20758 non-null  bool
 24  CALC_Sometimes                      20758 non-null  bool
 25  CALC_no                             20758 non-null  bool
 26  MTRANS_Automobile                   20758 non-null  bool
 27  MTRANS_Bike                         20758 non-null  bool
 28  MTRANS_Motorbike                    20758 non-null  bool
 29  MTRANS_Public_Transportation        20758 non-null  bool
 30  MTRANS_Walking                      20758 non-null  bool
dtypes: bool(23), float64(8)
memory usage: 1.7 MB

In [12]:
df_test_x = df_all_transform.tail(13840)
df_test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 20758 to 34597
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Age                                 13840 non-null  float64
 1   Height                              13840 non-null  float64
 2   Weight                              13840 non-null  float64
 3   FCVC                                13840 non-null  float64
 4   NCP                                 13840 non-null  float64
 5   CH2O                                13840 non-null  float64
 6   FAF                                 13840 non-null  float64
 7   TUE                                 13840 non-null  float64
 8   Gender_Female                       13840 non-null  bool
 9   Gender_Male                         13840 non-null  bool
 10  family_history_with_overweight_no   13840 non-null  bool
 11  family_history_with_overweight_yes  13840 non-null  bool
 12  FAVC_no                             13840 non-null  bool
 13  FAVC_yes                            13840 non-null  bool
 14  CAEC_Always                         13840 non-null  bool
 15  CAEC_Frequently                     13840 non-null  bool
 16  CAEC_Sometimes                      13840 non-null  bool
 17  CAEC_no                             13840 non-null  bool
 18  SMOKE_no                            13840 non-null  bool
 19  SMOKE_yes                           13840 non-null  bool
 20  SCC_no                              13840 non-null  bool
 21  SCC_yes                             13840 non-null  bool
 22  CALC_Always                         13840 non-null  bool
 23  CALC_Frequently                     13840 non-null  bool
 24  CALC_Sometimes                      13840 non-null  bool
 25  CALC_no                             13840 non-null  bool
 26  MTRANS_Automobile                   13840 non-null  bool
 27  MTRANS_Bike                         13840 non-null  bool
 28  MTRANS_Motorbike                    13840 non-null  bool
 29  MTRANS_Public_Transportation        13840 non-null  bool
 30  MTRANS_Walking                      13840 non-null  bool
dtypes: bool(23), float64(8)
memory usage: 1.1 MB

## UTILIZAMOS UM MODELO DE CLASIFICAÇÃO

In [13]:
df_train_y.unique()

array(['Overweight_Level_II', 'Normal_Weight', 'Insufficient_Weight',
       'Obesity_Type_III', 'Obesity_Type_II', 'Overweight_Level_I',
       'Obesity_Type_I'], dtype=object)

In [14]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
y_numeric = label_encoder.fit_transform(df_train_y)
y_numeric

array([6, 1, 0, ..., 3, 6, 3])

In [15]:
df_train_y.head()

0    Overweight_Level_II
1          Normal_Weight
2    Insufficient_Weight
3       Obesity_Type_III
4    Overweight_Level_II
Name: NObeyesdad, dtype: object

In [16]:
df_train_y.tail()

20753        Obesity_Type_II
20754    Insufficient_Weight
20755        Obesity_Type_II
20756    Overweight_Level_II
20757        Obesity_Type_II
Name: NObeyesdad, dtype: object

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=3)
knn_model.fit(df_train_x, y_numeric)

KNeighborsClassifier(n_neighbors=3)

In [18]:
df_test_y = knn_model.predict(df_test_x)
df_test_y

array([3, 5, 4, ..., 0, 0, 3])

In [19]:
submission = pd.read_csv('/kaggle/input/playground-series-s4e2/sample_submission.csv')
submission.head()

      id     NObeyesdad
0  20758  Normal_Weight
1  20759  Normal_Weight
2  20760  Normal_Weight
3  20761  Normal_Weight
4  20762  Normal_Weight

In [20]:
submission_y = label_encoder.inverse_transform(df_test_y)
len(submission_y)

13840

In [21]:
df_test = pd.read_csv('/kaggle/input/playground-series-s4e2/test.csv')
df_test['id']

0        20758
1        20759
2        20760
3        20761
4        20762
         ...
13835    34593
13836    34594
13837    34595
13838    34596
13839    34597
Name: id, Length: 13840, dtype: int64

In [22]:
submission = pd.DataFrame({'id':df_test['id'] ,'NObeyesdad':submission_y})
submission.head()

      id          NObeyesdad
0  20758     Obesity_Type_II
1  20759  Overweight_Level_I
2  20760    Obesity_Type_III
3  20761      Obesity_Type_I
4  20762    Obesity_Type_III

In [23]:
submission.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!